/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) { 
  p {font-size:1.2rem;} /*1rem = 16px*/
}

.navbar {
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Swanky and Moo Moo', cursive; */
  /* font-family: 'Teko', sans-serif; */
  font-family: 'Kanit', sans-serif;
  font-size: 0.90em;
}

#bodytxt {
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Swanky and Moo Moo', cursive; */
  /* font-family: 'Teko', sans-serif; */
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
}



/* === Index Page === */


/* For background on index page  */
.splash {
    width: 97.5vw;
    max-width: 2000px;
    max-height: 85vh;
    height: 100%;
    align-content: center;
    vertical-align: middle;
}

.bg_pic {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

/* For the text over the top of index page */
.index_head {
    /* position: absolute; */
    top: 50px;
    left: 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase; 
}

/* Navbar */
.navbar img {
    max-width: 40px;
    margin-right: 30px;
    margin-left: 30px;
}


.indexbg {
    background-color: rgb(37, 83, 80)
}

a {
    color: rgb(177, 14, 14)
}


/* === About page === */

/* .about {
    font-size: 1.10em;
} */

/* Sizing & such for profile pic on About page */
.profile_pic {
    max-width: 80vw;
    border-radius: 8%;
}

.zigzag {
   max-width: 50vw;   
}

.icons {
  color: white;
}

.logos {
  max-width: 50vw;
}

/* For skills/proficiencies learned during bootcamp on About page */
.skills {
    list-style: none;
}
.skills li:nth-child(odd) {
    /* background-image: url('../media/aboutbg.jpg'); */
    background-color: rgb(102, 142, 165);
    color: white;
}

.about-bg {
    background-color: rgb(5, 87, 119)
}

/* .me {
  background-image: url('../media/aboutbg.jpg');
} */

.me2 {
  background-image: url('../media/aboutbg2.jpg');
  
}

/* .aboutbg {
  position: absolute;
  height: 10%;
  width: 100%;

} */


/* === Development Page === */

.developmentbg {
  background-color: rgb(80, 12, 80)
}

.preview {
  width: 100%;
}



/* === Contact Page === */

.contact-bg {
    background-color: rgb(11, 18, 82);
}

.icons-color {
    color: rgb(21, 50, 146);
}


/* Styling for footer a tags */
footer a {
    style: none;
}

.fixedbottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.contactmetxt {
font-family: 'Kanit', sans-serif;
}


/* For body on all pages */
body {
    font-size: 1.25em;
}

.footer-copyright {
  font-size: .75em
}