.navbar {
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Swanky and Moo Moo', cursive; */
  /* font-family: 'Teko', sans-serif; */
  font-family: 'Kanit', sans-serif;
  font-size: 0.90em;
}

#bodytxt {
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Swanky and Moo Moo', cursive; */
  /* font-family: 'Teko', sans-serif; */
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
}


/* For images in posts on index page */
#posts img {
    max-width: 400px;
}

/* For Portugal picture in gallery as well as for the background on index page  */
.macanitas {
    width: 98.5vw;
    max-width: 2000px;
    max-height: 100vh;
    height: 100%;
    align-content: center
}

.bg_pic {
    position: relative;
    text-align: center;
}

/* For the text over the top of the portugal pic on index page */
.index_head {
    /* position: absolute; */
    top: 50px;
    left: 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase; 
}

/* Navbar */
.navbar img {
    max-width: 40px;
    margin-right: 30px;
    margin-left: 30px;
}




.indexbg {
    background-color: rgb(37, 83, 80)
}

a {
    color: rgb(177, 14, 14)
}


/* About page font size */
/* .about {
    font-size: 1.10em;
} */

/* Sizing & such for profile pic on About page */
.profile_pic {
    max-width: 80vw;
    border-radius: 8%;
}

.zigzag {
   max-width: 50vw;   
}

.logos {
  max-width: 50vw;
}

/* For skills/proficiencies learned during bootcamp on About page */
.skills {
    list-style: none;
}
.skills li:nth-child(odd) {
    /* background-image: url('../media/aboutbg.jpg'); */
    background-color: rgb(102, 142, 165);
    color: white;
}

.about-bg {
    background-color: rgb(5, 87, 119)
}

.me {
  background-image: url('../media/aboutbg.jpg');
}

.me2 {
  background-image: url('../media/aboutbg2.jpg');
  
}

/* .aboutbg {
  position: absolute;
  height: 10%;
  width: 100%;

} */


/* Development Page */
.developmentbg {
  background-color: rgb(219, 68, 68)
}

.preview {
  width: 100%;
}



/* Gallery Page */
.gallery {
    background-color: rgb(40, 48, 119)
}

.gallerybg {
  /* background-image: url('../media/gallerybg.png'); */
}

.btn-color {
    background-color: rgb(37, 83, 80)
}

.carousel-item {
  max-height: 100vh;
}

.photos {
  border: 1px solid rgb(187, 187, 187);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* ****  Gallery pictures and lightbox **** */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 0;
    top: 10%;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 45px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(253, 61, 61);
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    margin: auto;
  }

  .mySlides img {
    max-width: 50vw;
    
  }

  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 300px;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(95, 94, 94, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: orangered;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }




/* Contact Page */
.contact-bg {
    background-color: rgb(80, 12, 80);
}

.icons-color {
    color: rgb(155, 23, 137);
}


/* Styling for footer a tags */
footer a {
    style: none;
}

.contactme {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.contactmetxt {
font-family: 'Kanit', sans-serif;
}


/* For body on all pages */
body {
    font-size: 1.25em;
}

.footer-copyright {
  font-size: .75em
}